* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
:root {
  --dark: #0d1117;
  --dark-2: #30363d;
  --light: #c9d1d9;
  --blue: #58a6ff;
}
$dark-scss: var(--dark);
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
}
.container {
  display: flex;
  height: 100%;
  width: 1200px;
  max-height: 900px;
  min-height: 620px;
}
.search,
.userdata {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}
.search {
  width: 340px;
  padding: 20px;
  color: var(--dark);
  position: relative;
  gap: 10px;

  &::before {
    content: "";
    height: calc(100% - 40px);
    width: 1px;
    background-color: var(--dark-2);
    position: absolute;
    right: 0;
  }
  &__input {
    display: flex;
    gap: 4px;
    width: 100%;
    border-radius: 2px;
    &__bar {
      padding: 6px;
      font-weight: normal;
      font-size: 18px;
      border-radius: inherit;
      background-color: var(--dark);
      border: 1px solid var(--dark-2);
      color: var(--light);
      flex: 1;

      &::placeholder {
        font-size: 18px;
        font-weight: normal;
        color: var(--dark-2);
      }
    }
    &__button {
      padding: 0 18px;
      border-radius: inherit;
      border: 1px solid #ddd;
      background-color: var(--dark);
      transition: 0.15s;
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
      color: var(--light);
      border: 1px solid var(--dark-2);

      &:hover,
      &:active {
        background-color: var(--dark-2);
      }
    }
  }
  .search__result {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__now,
    &__last {
      width: 100%;
      border: 1px solid var(--dark-2);
      padding: 6px;
      gap: 10px;
      display: flex;
      flex-direction: column;

      &__person {
        display: flex;
        align-content: center;
        gap: 10px;
        border: 1px solid var(--dark-2);
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
          background-color: var(--dark-2);
        }

        &__left {
          display: flex;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 1px;
          }
        }
        &__right {
          color: var(--light);

          &__name {
            font-weight: 500;
          }
          &__desc {
            font-size: 12px;
            color: var(--light);
            opacity: 0.7;
          }
        }
      }
      & > legend {
        margin-left: 10px;
        padding: 0 3px;
        color: var(--light);
        font-size: 14px;
        font-weight: 500;
        user-select: none;
        gap: 10px;
      }
    }
    &__now {
      height: 142px;
      padding: 5px 10px 10px 10px;
      border-radius: 3px;
    }
    &__last {
      flex: 1;
      border-radius: 3px;
    }
  }
}
.userdata {
  flex: 1;
  padding: 20px;
  gap: 10px;
  &:empty {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "Result";
      font-size: 70px;
      color: var(--light);
      opacity: 0.1;
    }
  }
  &__profile {
    padding: 14px;
    border: 1px solid var(--dark-2);
    border-radius: 3px;
    display: flex;
    gap: 14px;

    &:empty {
      height: 190px;
    }

    &__avatar {
      width: 160px;
      height: 160px;
      border-radius: inherit;

      img {
        object-fit: cover;
        border-radius: inherit;
      }
    }
    &__about {
      color: var(--light);
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__name-view {
        font-weight: 500;
        display: flex;
        align-content: center;
        justify-content: space-between;

        h2 {
          font-weight: 500;
          display: flex;
          align-items: center;

          small {
            font-weight: normal;
            margin-left: 8px;
            font-size: 18px;
            margin-top: 2px;
            opacity: 0.3;
          }
        }
        a {
          color: var(--blue);
          font-weight: normal;
          padding: 0 10px;
          font-size: 14px;
          display: grid;
          place-items: center;
          border: 1px solid var(--blue);
          border-radius: 3px;
          transition: 0.15s;
          &:hover {
            background-color: var(--dark-2);
          }
        }
      }
      &__desc {
        padding: 5px 0;
        color: var(--light);
        opacity: 0.7;
        font-size: 14px;
        border-top: 1px solid var(--dark-2);
        flex: 1;
      }
      &__others {
        border: 1px solid var(--dark-2);
        display: flex;
        align-items: center;
        padding: 6px;
        border-radius: 3px;
        justify-content: space-around;

        span {
          span {
            display: inline-flex;
            background-color: var(--dark-2);
            border-radius: 3px;
            padding: 0 6px;
            align-items: center;
            margin-left: 2px;
          }
        }
      }
    }
  }
  &__repos {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--dark-2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    border-radius: 3px;
    gap: 10px;
    overflow: auto;
    &__repo {
      display: inline-flex;
      color: var(--light);
      flex-direction: column;
      padding: 10px;
      border: 1px solid var(--dark-2);
      gap: 10px;
      border-radius: inherit;

      & > h2 {
        color: var(--blue);
        font-size: 22px;
        font-weight: 500;

        a {
          color: inherit;
          transition: 0.15s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      & > p {
        border: none;
        padding: 0;
        opacity: 0.7;
        font-weight: normal;
        font-size: 14px;
      }
      &__status {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        span {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 16px;
          svg {
            fill: var(--light);
            height: 16px;
            width: 16px;
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--dark-2);
    }

    &::-webkit-scrollbar-thumb {
      border: 3px solid transparent;
      background-clip: content-box;
      background-color: var(--light);
      border-radius: 5px;
    }
  }
}
